.sidebar{
    width: 306px;
    height: 100vh;
    position: fixed;
}

.sidebar-box{
    padding: 10px;
}

.dashboard-link{
    margin-top: 50px;
    padding: 50px;
    font-size: 26px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #000;

}

.dashboard-link::before{
    content: " ";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: 30px;
    background-image: url("../../assets/img/setting.png");
    transform: translate(-30% , 20%);
}

.sidebar-list{
    margin-top: 50px;
}

.sidebar-item{
    width: 220px;
    display: flex;
    justify-content: start;

    align-items: center;
    margin: 20px 80px;
}


.sidebar-item-link1::before{
    content: " ";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-image: url("../../assets/img/1.png");
    transform: translate(-50% , 25%);  
}

.sidebar-item-link2::before{
    content: " ";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-image: url("../../assets/img/2.png");
    transform: translate(-50% , 25%);  
}

.sidebar-item-link3::before{
    content: " ";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-image: url("../../assets/img/1.png");
    transform: translate(-50% , 25%);  
}

.sidebar-item-link4::before{
    content: " ";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-image: url("../../assets/img/4.png");
    transform: translate(-50% , 25%);  
}


.sidebar-item-link5::before{
    content: " ";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-image: url("../../assets/img/5.png");
    transform: translate(-50% , 25%);  
}


.sidebar-item-link6::before{
    content: " ";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-image: url("../../assets/img/6.png");
    transform: translate(-50% , 25%);  
}





















.sidebar-time{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    margin-top: 150px;
    width: 250px;
    height: 130px;
    font-size: 35px;
    color: #fff;
    background: linear-gradient(107.91deg, #EAABF0 7.37%, #4623E9 95.19%);
    border-radius: 15px; 
}

.sidebar-accaunt{
    font-size: 14px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #9197B3;
}